.checkbox-container {
    display: flex;
    justify-content: start;
    margin: 30px 0;
}

.checkbox-container label {
    font-size: medium;
    align-content: end;
}

.checkbox-container input {
    margin: 0 20px;
    width: 25px;
    height: 25px;
}