@import url(./variables.css);

.navbar {
    background-color: #1f1f21b5;
    color: white;
    align-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 53px !important;
}

.navbar-items-container {
    display: flex;
    justify-content: space-between;
}

.navbar-items-container li {
    list-style: none;
}

.navbar-items-container a {
    color: var(--font-color);
    text-decoration: none;
}

.navbar-items-container a:hover {
    cursor: pointer;
    color: #78798e;
}