:root {
    --card-bg-color: rgb(32 47 63 / 90%);
    --card-bg-color-inactive: rgb(35 45 55 / 46%);
    --card-bg-color-hover: rgb(68 80 92 / 90%);
    --card-header-bg-color: rgba(23, 29, 35, 0.737);
    --font-color: #c6cbd0;
    --font-color-disabled: #545f69;
    --error-color: #a50c0c;
    --red-button: #9b1515;
    --red-button-hover: #aa2525;
    --form-transparent-bg-color: #14151ede;
    --form-input-focus-border-color: #7878a5;
    --form-input-bg-color: rgb(193 196 201);
    --form-input-radius: 5px;
    --form-input-border-size-focus: 3px;
    --form-input-padding: 10px;
}